/* Color Theme Swatches in Hex */
.Tchaikovsky-by-B.-Evseev-1-hex { color: #BF414C; }
.Tchaikovsky-by-B.-Evseev-2-hex { color: #73BCD9; }
.Tchaikovsky-by-B.-Evseev-3-hex { color: #D9C6BA; }
.Tchaikovsky-by-B.-Evseev-4-hex { color: #734D45; }
.Tchaikovsky-by-B.-Evseev-5-hex { color: #BF2424; }

/* Color Theme Swatches in RGBA */
.Tchaikovsky-by-B.-Evseev-1-rgba { color: rgba(191, 65, 75, 1); }
.Tchaikovsky-by-B.-Evseev-2-rgba { color: rgba(114, 187, 216, 1); }
.Tchaikovsky-by-B.-Evseev-3-rgba { color: rgba(216, 197, 186, 1); }
.Tchaikovsky-by-B.-Evseev-4-rgba { color: rgba(114, 77, 68, 1); }
.Tchaikovsky-by-B.-Evseev-5-rgba { color: rgba(191, 36, 36, 1); }

/* Color Theme Swatches in Hex */
.Only-the-birds-know-when-it{ color: #8C4552; }
.Only-the-birds-know-when-it { color: #734951; }
.Only-the-birds-know-when-it { color: #F0F0F2; }
.Only-the-birds-know-when-it { color: #BABDBF; }
.Only-the-birds-know-when-it{ color: #59302D; }

/* Color Theme Swatches in RGBA */
.Only-the-birds-know-when-it { color: rgba(140, 68, 81, 1); }
.Only-the-birds-know-when-it{ color: rgba(114, 73, 81, 1); }
.Only-the-birds-know-when-it { color: rgba(240, 239, 242, 1); }
.Only-the-birds-know-when-it{ color: rgba(185, 189, 191, 1); }
.Only-the-birds-know-when-it { color: rgba(89, 48, 44, 1); }

/* Color Theme Swatches in Hex */
.Freedom-Road-Brand Project-1-hex { color: #F2BBC5; }
.Freedom-Road-Brand Project-2-hex { color: #731D34; }
.Freedom-Road-Brand Project-3-hex { color: #F291AB; }
.Freedom-Road-Brand Project-4-hex { color: #A6568A; }
.Freedom-Road-Brand Project-5-hex { color: #371559; }

/* Color Theme Swatches in RGBA */
.Freedom-Road-Brand Project-1-rgba { color: rgba(242, 186, 196, 1); }
.Freedom-Road-Brand Project-2-rgba { color: rgba(114, 28, 51, 1); }
.Freedom-Road-Brand Project-3-rgba { color: rgba(242, 145, 171, 1); }
.Freedom-Road-Brand Project-4-rgba { color: rgba(165, 86, 137, 1); }
.Freedom-Road-Brand Project-5-rgba { color: rgba(54, 20, 89, 1); }

/* Color Theme Swatches in Hex */
.Roadtrip-Death-Valley-1-hex { color: #8C2B3D; }
.Roadtrip-Death-Valley-2-hex { color: #BF3B5E; }
.Roadtrip-Death-Valley-3-hex { color: #98A69C; }
.Roadtrip-Death-Valley-4-hex { color: #F2EDE4; }
.Roadtrip-Death-Valley-5-hex { color: #D9CDBF; }

/* Color Theme Swatches in RGBA */
.Roadtrip-Death-Valley-1-rgba { color: rgba(140, 43, 61, 1); }
.Roadtrip-Death-Valley-2-rgba { color: rgba(191, 59, 94, 1); }
.Roadtrip-Death-Valley-3-rgba { color: rgba(152, 165, 155, 1); }
.Roadtrip-Death-Valley-4-rgba { color: rgba(242, 237, 227, 1); }
.Roadtrip-Death-Valley-5-rgba { color: rgba(216, 205, 190, 1); }

/* Color Theme Swatches in Hex */
.One:Road-Movie-1-hex { color: #40282C; }
.One:Road-Movie-2-hex { color: #D4C7D9; }
.One:Road-Movie-3-hex { color: #84B1D9; }
.One:Road-Movie-4-hex { color: #D9814E; }
.One:Road-Movie-5-hex { color: #A65A3F; }

/* Color Theme Swatches in RGBA */
.One:Road-Movie-1-rgba { color: rgba(63, 40, 44, 1); }
.One:Road-Movie-2-rgba { color: rgba(211, 199, 216, 1); }
.One:Road-Movie-3-rgba { color: rgba(132, 177, 216, 1); }
.One:Road-Movie-4-rgba { color: rgba(216, 128, 78, 1); }
.One:Road-Movie-5-rgba { color: rgba(165, 90, 62, 1); }

/* Color Theme Swatches in Hex */
.Land-1-hex { color: #59454C; }
.Land-2-hex { color: #8C747D; }
.Land-3-hex { color: #A6949A; }
.Land-4-hex { color: #D9C7CE; }
.Land-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Land-1-rgba { color: rgba(89, 68, 76, 1); }
.Land-2-rgba { color: rgba(140, 116, 125, 1); }
.Land-3-rgba { color: rgba(165, 147, 154, 1); }
.Land-4-rgba { color: rgba(216, 199, 205, 1); }
.Land-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in Hex */
.LOST-TAPES-SUMMER-18-1-hex { color: #BF0449; }
.LOST-TAPES-SUMMER-18-2-hex { color: #D2A3D9; }
.LOST-TAPES-SUMMER-18-3-hex { color: #F29979; }
.LOST-TAPES-SUMMER-18-4-hex { color: #D9B5AD; }
.LOST-TAPES-SUMMER-18-5-hex { color: #F22E2E; }

/* Color Theme Swatches in RGBA */
.LOST-TAPES-SUMMER-18-1-rgba { color: rgba(191, 3, 72, 1); }
.LOST-TAPES-SUMMER-18-2-rgba { color: rgba(210, 162, 216, 1); }
.LOST-TAPES-SUMMER-18-3-rgba { color: rgba(242, 153, 121, 1); }
.LOST-TAPES-SUMMER-18-4-rgba { color: rgba(216, 181, 173, 1); }
.LOST-TAPES-SUMMER-18-5-rgba { color: rgba(242, 46, 46, 1); }

/* Color Theme Swatches in Hex */
.The-Human-Alien-Barrier-1-hex { color: #181426; }
.The-Human-Alien-Barrier-2-hex { color: #574F73; }
.The-Human-Alien-Barrier-3-hex { color: #F27D52; }
.The-Human-Alien-Barrier-4-hex { color: #D9765F; }
.The-Human-Alien-Barrier-5-hex { color: #A67772; }

/* Color Theme Swatches in RGBA */
.The-Human-Alien-Barrier-1-rgba { color: rgba(24, 20, 38, 1); }
.The-Human-Alien-Barrier-2-rgba { color: rgba(86, 79, 114, 1); }
.The-Human-Alien-Barrier-3-rgba { color: rgba(242, 125, 82, 1); }
.The-Human-Alien-Barrier-4-rgba { color: rgba(216, 117, 95, 1); }
.The-Human-Alien-Barrier-5-rgba { color: rgba(165, 118, 114, 1); }


